<launch>

    <arg name="enable_debug" default="false"/>
    <arg name="launch_prefix" default="" unless="$(arg enable_debug)"/>
    <arg name="launch_prefix" default="gdb -ex run --args" if="$(arg enable_debug)"/>

    <arg name="config_filepath" default="$(find stair_detection)/config.yaml"/>
    <arg name="input_cloud_topic" default="cloud"/>
    <arg name="output_whole_cloud_topic" default="stair_cloud"/>

    <node pkg="stair_detection" type="stair_detection_node" name="stair_detector" output="log" launch-prefix="$(arg launch_prefix)"
    args=" $(arg config_filepath)">
        <remap from="input_cloud" to="$(arg input_cloud_topic)"/>
        <remap from="whole_cloud" to="$(arg output_whole_cloud_topic)"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find stair_detection)/stair_detection.rviz"/> -->

</launch>
